<h1> this is register page</h1>

@model Users
<form action="/inventory/Register" method="POST">

                <h1 class="card-title">Create</h1>

              <form>

                <div class="card-body">
                    <div class="col-md-6 form-group">
                    <label asp-for="firstname">First Name</label>
                    <span asp-validation-for="firstname" class="text-danger"></span>
                          <input asp-for="firstname" class="form-control" type="text" required>      
                  </div>
                    <div class="col-md-6 form-group">
                    <label asp-for="lastname"> Last Name</label>
                    <span asp-validation-for="lastname" class="text-danger"></span>
                          <input asp-for="lastname" class="form-control" type="text" required>      
                  </div>
                    <div class="col-md-6 form-group">
                    <label asp-for="username"> Username</label>
                    <span asp-validation-for="username" class="text-danger"></span>
                          <input asp-for="username" class="form-control" type="text" required>      
                  </div>
                  
                  <div class="col-md-6 form-group">
                    <label asp-for="mobile"> Mobile</label>
                    <span asp-validation-for="mobile" class="text-danger"></span>
                          <input asp-for= "mobile" class="form-control" type="number" required>      
                  </div>
                  <div class="col-md-6 form-group">
                    <label asp-for="email"> Email</label>
                    <span asp-validation-for="email" class="text-danger"></span>
                          <input asp-for= "email" class="form-control" type="text" required>      
                  </div>
                   <div class="col-md-6 form-group">
                    <label asp-for="role"> Email</label>
                    <span asp-validation-for="role" class="text-danger"></span>
                          <input asp-for= "role" class="form-control" type="text" required>      
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
</form>            
            <!-- /.card -->