@model Inventory
<form action="/inventory/sell" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Supplier" />
    <input type="hidden" asp-for="ExpDate" />
    <input type="hidden" asp-for="Price" />
    <div class="col-md-6 form-group">
        <label style="font-family: Arial, sans-serif;" class="h3 text-muted">How many item do you want to sell?</label>
        <input id="sell" type="number" class="form-control" required>
        <input id="original" type="hidden" asp-for="Quantity" class="form-control" required>
        <script>
            function myFunction() {
                var sellquant = Number(document.getElementById("sell").value);
                var originalquan = Number(document.getElementById("original").value);
                var rem = Number(originalquan - sellquant);
                if (rem >= 0) {
                    document.getElementById("original").value = rem;
                }
                else {
                    alert("The quantity you have entered is more than the quantity the inventory has.");
                }

            }
        </script>
        <br>
        <button type="submit" onclick="myFunction()" class="btn btn-success">Sell the quantity</button>
    </div>
</form>