@model Users
<form action="/inventory/userdelete" method="POST">
    <input type="hidden" asp-for="username" />

         <label style="font-family: Arial, sans-serif;" class="h3 text-muted">Do you want to delete this record?</label>
        <br>
        <button type="submit" class="btn btn-danger">Delete</button>
</form>