@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 pt-5 display-4 text-muted" style="font-family: Helvetica, sans-serif;">
    <label>Welcome To Inventory Management System</label> @User.Identity.Name
</div>
