<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
            <a class="navbar-brand" asp-area="" asp-controller="Inventory" asp-action="WelcomePage" style="font-family:Arial;">Inventory
                Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse display-4" id="navbarSupportedContent" >
                <ul class="navbar-nav mr-auto navbar-brand">
                    @if (User.IsInRole("Admin") || User.IsInRole("Seller") || User.IsInRole("Viewer"))
                    {
                        <li class="nav-item pl-3">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Index">Home
                                <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item pl-3">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Create">Add
                                <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Seller") || User.IsInRole("Viewer"))
                    {
                        <li class="nav-item pl-3">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="lessquantity">Less
                                Quantity<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pl-3">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="expired">Expiring
                                Items<span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item pl-3">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="UserList">UserList<span
                                    class="sr-only">(current)</span></a>
                        </li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="navbar navbar-light bg-light navbar-dark bg-dark">
                        <form class="form-inline" asp-controller="Inventory" asp-action="Search">
                            <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <form class="form-inline" asp-area="" asp-controller="Inventory" asp-action="Logout">
                            <button class="btn btn-outline-success " type="submit">Logout</button>
                        </form>
                    </nav>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid ">
        <div class="container ">
            <main role="main" class="pb-3 ">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted navbar-dark bg-dark">
        <div class="container">
            &copy; 2021 - Inventory Management System
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
